.about-wrapper {
    padding-top: var(--page-padding-top);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.about-text {
    margin: 10px;
    color: var(--text-clr);
    font-size: var(--font-size-base);
    line-height: 40px;
}

