#change-password-form {
    padding: var(--page-padding-top) 30px 30px;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

.current-password-label, .new-password-label, .confirm-password-label {
    float: left;
    width: 200px;
}
#current-password, #new-password, #confirm-password {
    float: right;
    width: 180px;
}

.current-password-container {
    height: 70px;
}
.new-password-container, .confirm-password-container {
    width: auto;
    height: 40px;
}

#change-password-button {
    height: calc(var(--btn-height) + 2px);
    line-height: 20px;
    width: 150px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#password-message {
    text-align: center;
    color: red;
    width: 300px;
    height: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
