.games-wrapper {
    max-width: 1400px;
    width: auto;
    padding-top: var(--page-padding-top);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
    padding-left: 10px;
    padding-right: 10px;
}

.game-tile-container {
    margin: 10px;
}