.game-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 1400px;
}

.game-iframe {
    transform-origin: top left;
    width: 1280px;
    height: 720px;
    border: solid 1px #ccc;
    box-shadow: 0 2px 10px #ccc;
    box-sizing: border-box;
}
.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 1300px;
    height: 740px;
    margin-left: auto;
    margin-right: auto;
}

.game-top-bar {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.game-title {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}
.game-plays {
    align-self: flex-end;
}
.devlog-link-button {
    border: solid 1px #888;
    background: #eee;
    border-radius: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    align-self: flex-end;
    transition: 0.1s;
}
.devlog-link-button:hover {
    border: solid 1px #666;
    background: #ccc;
    cursor: pointer;
    transition: 0.1s;
}
a {
    text-decoration: none;
    color: #000;
}
.no-link {
    color: #444;
    cursor: default !important;
    user-select: none !important;
}
.no-link:hover {
    border: solid 1px #888;
    background: #eee;
}