#login-form {
    padding: var(--page-padding-top) 30px 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
#input-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    display: grid;
}

.username-label, .password-label {
    float: left;
    width: 180px;
}
#username, #password {
    float: right;
    width: 180px;
}

.username-container, .password-container {
    width: auto;
    height: 50px;
}

#submit-button {
    font-family: var(--btn-font);
    font-size: var(--btn-font-size);
    height: calc(var(--btn-height) + 2px);
    color: var(--btn-font-clr);
    background: var(--btn-bg);
    border-color: var(--btn-border-clr);
    line-height: 0;
    width: 72px;
    padding: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
#submit-button:hover {
    color: var(--btn-font-hover-clr);
    background: var(--btn-bg-hover);
    border-color: var(--btn-border-hover-clr);
}

#login-message {
    text-align: center;
    color: red;
    height: 30px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}


#login-button-anchor, #login-button {
    display: none !important;
    width: 42px;
}