.container {
    text-align: center;
    padding-top: var(--page-padding-top);
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.delete-header, .upload-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.delete-header {
    padding-top: 50px;
    border-top: solid 1px #b2b2b2;
}

#uploadContentButton {
    line-height: 22px;
    height: 27px;
    margin-top: 20px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.content-type-container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.game-selector, .devlog-selector {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
    width: 80px;
    height: 30px;
    background: #fff;
    border: none;
}

.game-selector:hover, .devlog-selector:hover {
    background: #ddd;
    transition: 0.1s;
}

.selected {
    border-bottom: solid 2px #000 !important;
}

.upload-container {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    display: grid;
}
.title-container, .description-container {
    margin-top: 20px;
}
#upload-title, #upload-description {
    width: 250px;
}

#title-label, #description-label {
    float: left;
}

#upload-title, #upload-description {
    float: right;
}

.file-container {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 25px;
    margin-top: 20px;
}
#fileInput {
    display: block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 370px;
    float: left;
}
#removeFile {
    float: right;
    width: 18px;
    transition: 0.1s;
}
#removeFile:hover {
    cursor: pointer;
    filter: invert(8%) sepia(98%) saturate(4380%) hue-rotate(4deg) brightness(114%) contrast(119%);
    transition: 0.1s;
}
#removeFile:active {
    filter: invert(15%) sepia(73%) saturate(7323%) hue-rotate(4deg) brightness(96%) contrast(120%);
}

.delete-container {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#deleteSelect {
    font-family: Raleway, Helvetica-Light, sans-serif;
    font-size: 14px;
    font-weight: 500;
    float: left;
    height: 27px;
    width: 300px !important;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #444;
}
#deleteContentButton {
    height: 27px;
    line-height: 22px;
    float: right;
    width: 70px;
}

#uploadContentButton, #deleteContentButton {
    height: calc(var(--btn-height) + 2px);
}

#delete-message, #upload-message {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 20px;
}

.file-upload-label {
    width: 800px !important;
    height: 27px !important;
}