.navbar-container {
    background: var(--navbar-bg);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    align-self: flex-start;
    max-width: 1400px;
    user-select: none;
    -webkit-user-select: none;
}

#logo-anchor {
    text-decoration: none;
    display: inline-flex;
    padding-top: 5px;
    margin-bottom: 0;
    height: 45px;
    width: 100px;
    min-width: 100px;
    cursor: pointer;
}
#logo-anchor:hover {
    transition: 0.1s;
}
#logo-text {
    font-size: 14px;
    font-family: "Kode Mono", monospace;
    display: block;
    padding-top: 3px;
    padding-left: 2px;
    height: 45px;
    color: var(--navbar-text-clr);
}
#logo-anchor:hover #logo-text {
    color: var(--navbar-text-hover-clr);
    transition: 0.1s;
}
#logo-text-dev, #logo-text-arcade {
    position: relative;
    display: flex;
}
#logo-text-dev {
    top: 5px;
    left: 15px;
}
.logo-capital {
    line-height: 12px;
    font-size: 24px;
}
#logo-img {
    margin-top: -5px;
    width: 50px;
    height: 50px;
}
#logo-anchor:hover #logo-img {
    filter: invert(50%) sepia(1%);
    transition: 0.1s;
}

#login-button-anchor {
    margin-top: 10px;
    float: right;
}
#login-button, #login-button-anchor {
    width: 70px;
}

#dashboard-button {
    width: 90px;
    float: right;
    margin-top: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    font-family: var(--navbar-font);
    font-size: var(--navbar-font-size);
    line-height: var(--navbar-line-height);
    list-style: none;
    text-align: center;
    min-width: 350px;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0;
}

.navbar li {
    padding-top: 10px;
}

.navbar li:last-child {
    padding-right: 10px;
}
.navbar li:first-child {
    padding-left: 15px;
}
.navbar li a {
    border-bottom: solid 2px var(--navbar-underline-clr);
    text-decoration: none;
    color: var(--navbar-text-clr);
    cursor: pointer;
    width: 110px;
}

.navbar li a:hover {
    color: var(--navbar-text-hover-clr);
}

.navbar li.active:hover a {
    color: var(--navbar-text-hover-clr);
    border-bottom: solid 2px var(--navbar-underline-hover-clr);
}

.navbar li.active a {
    border-bottom: solid 2px var(--navbar-underline-active-clr);
}

.navbar li a:focus {
    transition: .1s;
    outline: none;
}

.navbar li.active a:focus {
    color: var(--navbar-text-hover-clr);
    transition: .1s;
}
